.wnin-filter {
  &-wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00baff+0,84d930+50,ff4200+100 */
    background: #00baff; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #00baff 0%,
      #84d930 50%,
      #ff4200 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #00baff 0%,
      #84d930 50%,
      #ff4200 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #00baff 0%,
      #84d930 50%,
      #ff4200 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00baff', endColorstr='#ff4200',GradientType=1 );
    /* IE6-9 */
  }
  &-container{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
  }
  &-button-wrapper{
      position: absolute;
      right: 32px;
  }
  &-button{
      height: 45px;
      width: 45px;
      color: #ffffff;
      background-color: rgba($color: #000000, $alpha: 0.08);
      &:hover{
          color: #ffffff;
      }
  }
}
